PORT=3001
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=steeldeco_plantu
MYSQL_PASSWORD=Abrakadabra3770
MYSQL_DATABASE=steeldeco_plant
MYSQL_CONNECTION_LIMIT=10

# Enable SSL for MySQL (1/true/yes to turn on)
MYSQL_SSL=0

# Comma-separated list. Example: http://localhost:4200
CORS_ORIGINS=http://localhost:4200
